//色
$main-color:#84D6D6;// メインカラー
$main-light-color:#EEF9F8;// メインカラー（薄）

$tag-color-type1:#D684B8;//タグカラー
$tag-color-type2:#F1B04E;//タグカラー
$tag-color-type3:#ABD07B;//タグカラー
$tag-color-type4:#84B6D6;//タグカラー
$tag-color-type5:#D6BF84;//タグカラー

$ranking-color-type1:#C99700;//タグカラー
$ranking-color-type2:#C4C4C4;//タグカラー
$ranking-color-type3:#BA6E40;//タグカラー


$text-color-type1:#757676;// テキストカラー
$text-color-type2:#000000;// テキストカラー

$background-type-color:#FFFFFF;// 背景カラー

/* フォント */

$ff-base: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;//日本語標準
$fz-base: 16px; // ベースフォントサイズ
$fw-base: 500; // ベースフォントウェイト
$lh-base: 1.6; // ベース行間

// レイアウト
$inner-width: 1104px; // インナー幅サイズ
$header-width: 1248px; // インナー幅サイズ
$sp-width: 768px; // スマホサイズ

//ブレークポイント
$breakpoints:(
  //スマホ以下の場合
  "sp": "screen and (max-width: #{$sp-width})",
  //タブレット以下の場合
  "tab": "screen and (max-width: #{$inner-width - 1px})",
  //PC以下の場合
  "pc": "screen and (min-width: #{$inner-width})",
);

//重なり順
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);




