@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* フォント */
body {
  color: #1A1A1A;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
body a {
  transition: all 0.5s 0s ease;
}

.ja-font {
  font-family: "Kiwi Maru", YuGothic, "游ゴシック", sans-serif;
}

.number-font {
  font-family: "Avenir", sans-serif;
}

.title-font {
  font-family: "Tsukushi B Round Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}