@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* フォント */
body {
  color: #757676;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
body a {
  transition: all 0.5s 0s ease;
}

.ja-font {
  font-family: "Kiwi Maru", YuGothic, "游ゴシック", sans-serif;
}

.number-font {
  font-family: "Avenir", sans-serif;
}

.title-font {
  font-family: "Tsukushi B Round Gothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

.c-btn {
  background-color: #757676;
  padding: 16px 24px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border: 1px #FFFFFF solid;
}
.c-btn:hover {
  background-color: #FFFFFF;
  border: 1px #757676 solid;
}
.c-btn:hover .c-btn-item {
  color: #757676;
}
.c-btn:hover .c-btn__line {
  border-bottom: 1px #757676 solid;
}
.c-btn:hover .c-btn__line::after {
  border: 1px #757676 solid;
}

.c-btn-item {
  display: inline;
  color: #FFFFFF;
}
.c-btn-item:hover {
  color: #757676;
}

.c-btn__line {
  color: #FFFFFF;
  position: relative;
  width: 27px;
  height: 20px;
  border-bottom: 1px #FFFFFF solid;
}
@media screen and (max-width: 768px) {
  .c-btn__line {
    height: 15px;
  }
}
.c-btn__line::after {
  position: absolute;
  bottom: 1.59px;
  right: 0px;
  content: "";
  width: 11.72px;
  height: 0px;
  border: 1px solid #FFFFFF;
  transform: rotate(30deg);
}

.header__menu {
  background: #EEF9F8;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .header__menu {
    padding: 10px;
    height: 554px;
  }
}

.header__menu__wrapper {
  background: #FFFFFF;
  height: 800px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__menu__wrapper {
    height: 534px;
  }
}

@media screen and (max-width: 768px) {
  .header__menu__icon {
    display: block;
    height: 54px;
  }
}
@media screen and (max-width: 768px) {
  .header__menu__icon img {
    margin: 0 auto;
    display: block;
    height: 80px;
  }
}

.header__menu__boxes {
  max-width: 1036px;
  margin: 112px auto 0 auto;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  .header__menu__boxes {
    margin: 0px auto 0 auto;
    padding: 0px;
  }
}

.header__menu__box {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .header__menu__box {
    display: block;
    max-width: 198px;
    margin: 0 auto;
  }
}

.header__menu__lists {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .header__menu__lists {
    font-size: 18px;
  }
}

.header__menu__list {
  display: block;
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .header__menu__list {
    margin-top: 24px;
  }
}

.header__menu__login__box {
  max-width: 650px;
  margin: 0 auto;
}

.header__menu__login {
  max-width: 217px;
  margin-top: 32px;
}
@media screen and (max-width: 768px) {
  .header__menu__login {
    max-width: 195px;
    margin: 46px auto 0px auto;
  }
}

.header__menu__login__txt {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .header__menu__login__txt {
    font-size: 18px;
  }
}

.header__menu__bar {
  position: absolute;
  width: 1px;
  height: 546px;
  background-color: #757676;
  left: 50%;
  top: 198px;
}

.header__menu__upbar {
  width: 20px;
  height: 20px;
  border-top: 1px solid #757676;
  border-right: 1px solid #757676;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 0) rotate(-45deg);
}

.header__menu__foot__lists {
  display: flex;
  justify-content: flex-end;
  margin-top: 208px;
}
@media screen and (max-width: 768px) {
  .header__menu__foot__lists {
    margin-top: 17px;
    justify-content: center;
  }
}

.header__menu__foot__item {
  font-size: 18px;
  margin-left: 24px;
}
@media screen and (max-width: 768px) {
  .header__menu__foot__item {
    font-size: 14px;
    margin-left: 16px;
  }
}

.header__menu__foot__item:nth-child(1) {
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .is-sp {
    display: block;
  }
}